:root {
    --white:#FFF;
    --day-bkg-col: rgba(255, 255, 255, 0.75);
    --day-more-text: #303030;
    --night-bkg-col: rgba(0, 0, 0, 0.75);
    --ff-inter: 'Inter', sans-serif;
}

/* Styles for both dark and light mode */
body {
    transition: background-color 0.3s, color 0.3s;
    color: var(--white);
    background-repeat: no-repeat;
    font-family: var(--ff-inter);
  }
  
.container {
    box-sizing: border-box;
    width: 23.4375rem;
    height: 41.6875rem;
    padding: 0;
    margin-left: 1.62rem;
    background-size: cover;
}

/* .container-less {
    box-sizing: border-box;
    width: 100%;
    height: 25.69rem;
    padding: 0;
    margin-left: 1.62rem;
} */

.quotes {
    display: inline-flex;
    gap: 1.04rem;
    margin: 2rem 3.69rem 0rem 0rem; 
}

q {
    font-family: Inter;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.375rem;
    width: 18.125rem;
}

.quote-writer {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.375rem;
}

.greeting, .greeting-less {
    margin-top: 14.19rem;
    display: inline-flex;
    color: #FFF;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5625rem; /* 166.667% */
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    
    
}

.greeting p, .greeting-less p {
    width: auto;
    height: 1.5625rem; 
    
}

.time {
    display: inline-flex;
    gap: 3rem;
    /* border: 1px solid red; */
    /* padding: 0px; */
    /* margin-top: 1rem; */
}
.time h1 {
    width: 15.25rem;
    margin: 0;
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 6.25rem; /* 100% */
    letter-spacing: -0.15625rem;
    /* border: 1px solid white; */
   
}

.time p {
    /* margin: 0;
    padding: 0; */
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75rem; /* 186.667% */
    text-transform: uppercase;
    /* border: 1px solid white; */

    
}

.location p {
    margin-top: 1rem;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 186.667% */
    letter-spacing: 0.1875rem;
    text-transform: uppercase;
    /* border: 1px solid white; */
}
.expand {
    margin-top: 3rem;
    display: inline-flex;
    border-radius: 1.75rem;
    background: #fff;
    width: 7.1875rem;
    height: 2.4375rem;
    justify-content: center;
    align-items: center;

}

.expand p{
    color: #000;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.875rem; /* 116.667% */
    letter-spacing: 0.23438rem;
    text-transform: uppercase;
    padding-left: 1.06rem;
    opacity: 0.5;
    margin-right: 0.5rem;

}

.expand img {
    width: 2rem;
    height: 2rem;
    border: 1px solid #303030;
    fill: #303030;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.greeting-less {
    margin-top: 6.19rem;
}

/* .bottom-section {
    margin-top: 3.25rem;
    margin-left: -1.62rem; 
    padding: 0;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    backdrop-filter: blur(20.387113571166992px);
   
    
} */
/* Styling for the morningDiv */
#morningDiv {
    position: fixed; /* Use "fixed" for fixed positioning at the bottom of the viewport, or "absolute" for absolute positioning within the document flow */
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 10px;
    background-color: rgba(173, 216, 230, 0.5); /* Set the background color for the morningDiv */
    color: #fff; /* Set the text color for better visibility */
    font-size: 18px;
    z-index: 9999; /* Use a higher z-index to ensure the morningDiv overlays other content */
  }


.info {
    display: inline-flex;
    justify-content: space-between;
    width: 23.4375rem;
    margin-left: 1.62rem;
    margin-right: 1.62rem;
}

.info h1{
    padding-top: 0.5rem;
    margin-bottom: 1rem;
    width: auto;
    float: right;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.info h6{
    text-align: center;
    margin-bottom: 1rem;
    width: auto;
    float: left;
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem;
    letter-spacing: 0.125rem;
    text-transform: uppercase;

}

